.App {
  background-image: url('./images/background.png');
  font-family: Cinzel , serif;
  text-align: center;
}

header {
  color: aliceblue;
  font-size: x-large;
  padding-top: 25px;
}

h2 {
  color: aliceblue;
  margin-top: 50px;
}

.planet-card {
  align-items: center;
  color: rgba(240, 248, 255, 0);
  transition: width 0.5s , font-size 1s , color 1s;
  width: 150px;
}

.planet-card:hover {
  border-radius: 30%;
  color: aliceblue;
  font-size: 40px;
  height: 270px;
  width: 270px;
}

.planet-card img {
  display: flex;
  justify-self: center;
  transition: width 1s , filter 1s;
  width: 150px;
}

.planet-card p {
  margin-bottom: 5px;
}

/* animação baseada nestes códigos: https://codepen.io/teerapuch/pen/vLJXeR
e https://dev.to/suyashvash/how-to-make-floating-animation-in-html-css-51da
*/

.planet-card img:hover {
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-name: spin;
  animation-timing-function: linear;
  cursor: pointer;
  display: flex;
  filter: saturate(5);
  justify-content: center;
  transform: translateY(-17%);
  width: 290px;
}

@keyframes spin {

  0% {
    transform: rotate(0deg) translateY(-17%);
  }

  50% {
    transform: rotate(180deg) translateY(10%);
  }

  75% {
    transform: rotate(270deg) translateY(-10%);
  }

  100% {
    transform: rotate(360deg) translateY(-17%);
  }

}

.planet-card img:active {
  animation-duration: 2000ms;
  cursor: grabbing;
  filter: opacity(50%);
}

.solar-system {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mission-card {
  background: rgba(63, 82, 80, 0.4);
  border-radius: 5%;
  color: aliceblue;
  cursor: pointer;
  font-size: large;
  height: 200px;
  margin: 10px;
  width: 350px;
}

.mission-card:hover {
  background: rgba(63, 82, 80, 0.2);
}

.mission-card:active {
  background: rgba(171, 182, 25, 0.2);
}
