.App {
  background-image: url('./images/background.png');
  font-family: Cinzel , serif;
  text-align: center;
}

header {
  color: aliceblue;
}

h2 {
  color: aliceblue;
}

.planet-card {
  align-items: center;
  transition: width 0.5s , font-size 2s , color 1s;
  width: 150px;
}

.planet-card:hover {
  border-radius: 30%;
  color: aliceblue;
  font-size: 40px;
  height: 270px;
  width: 270px;
}

.planet-card img {
  display: flex;
  justify-self: center;
  transition: width 1s , filter 1s;
  width: 150px;
}

.planet-card p {
  margin-bottom: 0;
}

/* animação baseada neste exemplo: https://codepen.io/teerapuch/pen/vLJXeR */
.planet-card img:hover {
  animation-duration: 11000ms;
  animation-iteration-count: infinite;
  animation-name: spin;
  animation-timing-function: linear;
  cursor: pointer;
  display: flex;
  filter: saturate(5);
  justify-content: center;
  width: 290px;
}

@keyframes spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.planet-card img:active {
  animation-duration: 2500ms;
  filter: opacity(50%);
}

.solar-system {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mission-card {
  background: rgba(63, 82, 80, 0.4);
  border-radius: 5%;
  color: aliceblue;
  cursor: pointer;
  font-size: large;
  height: 200px;
  margin: 10px;
  width: 350px;
}

.mission-card:hover {
  background: rgba(63, 82, 80, 0.2);
}

.mission-card:active {
  background: rgba(171, 182, 25, 0.2);
}
